@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
  background-color: lemonchiffon;
  font-family: 'Alfa Slab One', cursive;
}

h1 {
  background-color: black;
  color: lemonchiffon;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: .5em;
  text-align: center;
  text-shadow: 0 0 15px #FF0000;
}

ul {
    list-style: none;
}

.site-container {
  width: 100%;
}

.site-nav {
  background-image: url(greenFelt.jpg);
  border: .8em solid black;
  border-radius: 1em;
  font-size: 1em;
  margin: 0 auto;
  width: 40%;
}

@media (min-width: 600px) {
	.site-nav {
		width: 60%;
	}
}

@media (min-width: 1024px) {
	.site-nav {
		width: 40%;
	}
}



.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: 4em;
  list-style: none;
}

.nav-list li {
  padding: 0 2.5em 0 2.5em;
  text-shadow: 0 0 1px white;
}

.tableSurface {
  background-image: url(greenFelt.jpg);
  border: .8em solid black;
  border-radius: 1em;
  margin: 0 auto;
  margin-top: 1em;
  min-height: 500px;
  width: 80%;
  text-align: center;
  text-shadow: 0 0 1px white;
}

.dealerSpace {
  background-image: url(greenFelt.jpg);
  border: .5em solid white;
  border-radius: .5em;
  height: 200px;
  margin: .5em .5em .5em .5em;
  text-align: center;
  text-shadow: 0 0 1px white;
}

.playerSpace {
  background-image: url(greenFelt.jpg);
  border: .5em solid red;
  border-radius: .5em;
  height: 200px;
  margin: .5em .5em .5em .5em;
  text-align: center;
  text-shadow: 0 0 1px white;
}

.playerOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 2em 2em 2em;
}

footer {
  background: black;
  bottom: 0px;
  color: lemonchiffon;
  font-size: 14px;
  height: 2.5em;
  left: 0px;
  padding-top: .5em;
  position: fixed;
  text-align: center;
  width: 100%;
}
